.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid gray;
    box-shadow: 5px 10px #888888;
  }
.center { display: grid;
width:20%;
margin: auto;
place-items: center;
}
header{ width: 100%;
padding: 60px 0;
text-align: center;
background:blue;
color: white;
}
footer{ width: 100%;
padding: 40px 0;
text-align: center;
background:blue;
color: white;
}