.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid gray;
    box-shadow: 5px 10px #888888;
  }
.center { display: grid;
height:50px;
width: 50px;
margin: auto;
place-items: center;
}
header , footer{ width: 100%;
padding: 60px 0;
text-align: center;
background:blue;
color: white;
height: 120 px;
}
p{text-align: center;
font-size: 30px;}

ul{ padding-left: 40px;
font-size: 20px;}

h1, h2{ text-align: center;}

*{ margin:0;
padding:0;}
